<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/menu.css">
  <meta charset="utf-8" />
  <style type="text/css">
    .block1 {
      width: 200px;
      background: #ccc;
      padding: 5px;
      padding-right: 20px;
      border: solid 1px black;
      float: left;
    }
  </style>
</head>

<body>


  <div class="wrapper">
    <div class="content">
      {{> menu}}
      <h2>{{title}}</h2>
      <p>Электронный адрес: {{email}}</p>
      <p>Телефон: {{phone}}</p>
      <a href="/about">...</a>
    </div>
    <div class="footer">{{> footer}}</div>

  </div>

  {{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
        mocha.ui('tdd');
        var assert = chai.assert;

    </script>
    <script src="/qa/tests-global.js"></script>
    {{#if pageTestScript}}
    <script src="{{pageTestScript}}"></script>
    {{/if}}
    <script>
        mocha.run();
    </script>
    {{/if}}
</body>
<html>